.Balance{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}
.Balancediv{
    background-color:rgb(255, 255, 255) ;
    padding: 30px;
    border-radius: 30px;
    font-weight: bolder;
    font-size: 30px;
}
.total_avail{
    border:2px solid black;
    height:10px;
    width:95%;
    border-radius:10px;
    background-color: white;

}
.spended{
    background-color: green;

}